html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    color: var(--font-color);
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;

    --font-color: #323232;
}

h2 {
    font-family: "Proza-libre", sans-serif;
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode a {
    color: white;
}

#theme-toggle {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: var(--spacing-1);
}

.portrait {
    width: 235px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.about-me-container {
    display: flex;
}

.about-me-text-container {
    margin-right: var(--spacing-3);
}

.about-me-text-container p {
    margin-bottom: 30px;
    text-align: justify;
}

.space-paragraph {
    line-height: 1.5;
    margin-bottom: 16px;
}

.project-image {
    width: 50%;
}

.project-title {
    margin-bottom: 10px;
}
.project-title h3 {
    display: inline;
}

.details {
    cursor: pointer;
}

.section {
    padding: var(--spacing-3) 0;
}

.projects-section {
    margin-bottom: 25px;
}

.skills-section {
    margin-bottom: 25px;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

#logo, #logo a {
    margin: 0;
    font-size: 25px;
}

#contact {
    margin-top: 25px;
}

#contact p {
    font-size: 17px;
}

#logo h2 {
    font-size: 100px;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills-container > * {
    font-size: 2.5em;
    width: 1em;
    margin-top: var(--spacing-1);
}

#interests-container {
    font-size: 18px;
}

#interests-container ul li {
    margin-bottom: 10px;
}

.icon-container > * {
    font-size: 35px;
    margin-right: 15px;
}

footer {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
    font-size: 18px;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    }

    .navigation-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }

    .navigation-item {
        margin: 5px 0;
        width: 100%;
    }

    .navigation-item a {
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    section {
        margin-bottom: 10px;
        padding: 5px;
    }

    .about-me-container, 
    .projects-section, 
    .skills-section, 
    .interests-section, 
    #contact {
        padding: 5px;
    }

    #logo {
        font-size: 25px;
    }

    .about-me-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-me-text-container {
        width: 90%;
    }

    .portrait {
        width: 80%;
        margin: 20px 0;
    }

    .projects-section, .skills-section, .interests-section {
        padding: 5px;
    }

    .icon-container a {
        margin-right: 10px;
    }

    .icon-container a:last-child {
        margin-right: 0;
    }
}